.navbar-brand {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.navbar-toggler {
  background-color: #ffffff;
  color: #003547;
}

.nav-link {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .navbar-nav {
    margin: 7.5px;
    width: 100%;
    float: none !important;
  }

  .nav > li {
    position: relative;
    display: block;
    float: none;
  }

  .navbar-default .navbar-nav > li > a:hover::after,
  .navbar-default .navbar-nav > li > a:focus::after {
    display: none;
  }

  .nav-item:hover {
    background-color: #003547;
    color: #ffffff;
    border-radius: 25px;
  }

  .nav-item:hover .nav-link {
    padding-left: 16px;
    color: #ffffff;
  }
} 
