<div class="container mew-footer">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0">Dev of Codes LLC. © 2024. All rights are reserved.</span>
    </div>
    <ul class="legal-links col-md-4 d-flex align-items-center">
      <li class="legal-links-item">
        <a href="/privacy">Privacy Policy</a>
      </li>
      <li class="legal-links-item">
        <a href="/sitemap">Site Map</a>
      </li>
    </ul>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3">
        <a href="http://twitter.com/MaxWahlgren" target="blank">
          <img loading="lazy" src="/assets/socials/icons8-twitter-50.png" title="Twitter" alt="Twitter" width="30" height="30" /></a>
      </li>
      <li class="ms-3">
        <a href="http://linkedin.com/in/max-wahlgren" target="blank">
          <img loading="lazy" src="/assets/socials/icons8-linkedin-50.png" title="LinkedIn" alt="LinkedIn" width="30" height="30" /></a>
      </li>
      <li class="ms-3">
        <a href="http://instagram.com/amaxwahlgren" target="blank">
          <img loading="lazy" src="/assets/socials/icons8-instagram-50.png" title="Instagram" alt="Instagram" width="30" height="30" /></a>
      </li>
      <li class="ms-3">
        <a href="https://github.com/WahlgrenMaxwell" target="blank">
          <img loading="lazy" src="/assets/socials/icons8-github-50.png" title="GitHub" alt="GitHub" width="30" height="30" /></a>
      </li>
    </ul>
  </footer>
</div>
