<div class="container">
  <div class="mew-hero">
    <h1>Max Emmett Wahlgren</h1>
    <h3>Striving for Continous Growth Everyday!</h3>
  </div>
  <hr/>
  <div class="container">
    <div class="row">
      <div class="col d-flex align-items-center">
        <img class="mx-auto" alt="Me and my niece!" loading="lazy" src="/assets/images/mew1.JPG" width="400px"/>
      </div>
      <div class="col">
        <h3>My Beliefs 🌱</h3>
        <p>
          Throughout my professional journey and personal growth, certain core beliefs have consistently steered my decisions and actions. These guiding principles have not only shaped my approach to software development but also deeply influenced my interpersonal relationships and team dynamics.
        </p>
        <p>
          Firstly, I fervently believe in the power of continuous learning. In the ever-evolving landscape of technology, resting on one's laurels is not an option. Embracing change, seeking out new knowledge, and applying the latest techniques are essential not only for individual growth but also for the advancement of the entire industry. This approach has always motivated me to be on the lookout for opportunities to learn, innovate, and enhance my skills.
        </p>
        <p>
          Secondly, collaboration and open communication are pivotal. No software is developed in isolation, and every successful project is the result of combined efforts. Recognizing the strengths of each team member and fostering an environment where ideas can be freely shared and iterated upon leads to holistic solutions that address a broader range of challenges. I believe in creating spaces where every voice is heard, and every contribution is valued.
        </p>
        <p>
          Lastly, I emphasize the importance of user-centricity. At the heart of every piece of software or application lies the end-user. Keeping their needs, preferences, and challenges at the forefront ensures that solutions are not just technically sound, but also meaningful and impactful in the real world. I consistently strive to bridge the gap between technical prowess and user experience, believing that the most successful solutions resonate deeply with those who use them.
        </p>
        <p>
          These beliefs form the cornerstone of my professional ethos, guiding each project I undertake and every team I have the privilege of working with.
        </p>
      </div>
    </div>
  </div>
  <div class="container about-container">
    <h3>A Bit About Me 📝</h3>
    <div ngbAccordion>
      <div ngbAccordionItem>
        <h3 ngbAccordionHeader>
          <button ngbAccordionButton>Personally</button>
        </h3>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                During my academic tenure, I pursued a rigorous curriculum focusing on Information Systems, equipping myself with a blend of theoretical knowledge and practical insights into the domain. My passion for the field extended beyond the classroom, leading me to the presidency of the Information Systems Club, where I spearheaded initiatives, workshops, and collaborations, ensuring a vibrant platform for peers to learn and exchange ideas. Recognizing my proficiency and deep understanding of the subject, the university entrusted me with the responsibility of serving as a tutor for Information Systems, a role in which I mentored fellow students, clarified complex concepts, and contributed to the overall academic success of many. This blend of leadership and academic excellence shaped my holistic understanding of the Information Systems landscape.
              </p>
              <p>
                Venturing into the wilderness on hikes and backpacking journeys is more than just a pastime for me—it's a passion, a challenge, and a transformative experience all rolled into one. The rhythmic sound of my boots on the trail, the symphony of nature around me, and the weight of my backpack meld into a meditation that continually draws me deeper into the heart of the great outdoors. As I train rigorously, I'm setting my sights on an ambitious goal, one known to avid hikers as the "Triple Crowner": completing the iconic trio of the National Scenic Trails. The PCT (Pacific Crest Trail), AT (Appalachian Trail), and CDT (Continental Divide Trail) beckon, and while I've not charted a strict order or timeline, I'm fervently committed to embracing each of these legendary trails in their entirety, embracing every challenge and marvel they have to offer.
              </p>
            </ng-template>
          </div>
        </div>
      </div>
      <div ngbAccordionItem>
        <h3 ngbAccordionHeader>
          <button ngbAccordionButton>Technically Speaking</button>
        </h3>
        <div ngbAccordionCollapse>
          <div ngbAccordionBody>
            <ng-template>
              <p>
                With a solid foundation in software development, I possess extensive experience in crafting, translating, and encoding software applications in alignment with industry-best practices. My proficiency extends beyond mere coding; I am adept at seamless collaboration with cross-functional teams and liaising with diverse departments to ensure cohesive support and enhanced synergy.
              </p>
              <p>
                I’ve always been drawn to the overlap between design and development. My passions lie in crafting unique digital experiences, blending form with function, and pixels with logic. Whether it's the thrill of seeing my code come alive or the joy of a user's "aha!" moment, I thrive on turning challenges into successes.
              </p>
              <p>
                Having dabbled in a myriad of programming languages and frameworks, I've garnered a toolbelt of skills, ready to tackle any obstacle. From solo quests to ensemble adventures, I value collaboration and bring my unwavering problem-solving prowess and work ethic to the table.
              </p>
              <p>
                A distinguishing aspect of my professional repertoire is my unwavering commitment to delivering solutions that are not only reliable but also secure, scalable, and adaptable. I've honed an expertise in executing comprehensive root cause analyses, ensuring swift incident resolutions. Furthermore, my experience encompasses the meticulous delineation of software development project trajectories, entailing precise scoping, systematic scheduling, and effective implementation.
              </p>
              <p>
                Beyond my technical acumen, I bring to the table exceptional organizational skills and a rigorous time management approach, ensuring timely and budget-compliant project deliveries. I maintain a proactive stance towards the ever-evolving landscape of software products, languages, and standards, investing significant effort in research to bolster procurement and developmental initiatives.
              </p>
              <p>
                My technical skill set is vast, encompassing languages and technologies such as C#, ASP.NET Core, JavaScript/TypeScript, SQL, LINQ, HTML, CSS/SCSS, among others.
              </p>
              <p>
                I command an intricate familiarity with a plethora of tools and frameworks. This includes, but is not limited to, ASP.NET Core 3.0+, ASP.NET MVC, ASP.NET Web API, .NET Framework, Entity Framework, WPF, Selenium Web Driver, Apache JMeter, and beyond.
              </p>
              <p>
                My toolkit is further amplified with proficiency in platforms like Microsoft Visual Studio, Azure Cloud Service, TFS, Git, and SQL Server Management Studio. My approach to development is also firmly rooted in agile methodologies, ensuring streamlined and iterative processes.
              </p>
              <p>
                Complementing my core skills is experience with an array of software suites and tools, notably the Microsoft application suite, Postman, Eclipse, and Apache Tomcat, underscoring my versatile capability portfolio.
              </p>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
