<div class="container">
  <div class="mew-hero">
    <h1 class="title">Professional Experience 🙌</h1>
    <h3>Continously working alongside professionals from diverse backgrounds!</h3>
  </div>
  <hr />
  <div class="container">
      <div class="container-sizing">
        <div class="container-timeline">
          <div class="timeline">
            <ul>
              <li id="devofcodes" class="present">
                <div class="timeline-content">
                  <h2 class="timeline-date">April, 2023 - Present</h2>
                  <h1>Founder, Digital Creative Engineer</h1>
                  <h3>Dev of Codes LLC</h3>
                  <p>Dev of Codes (DoC) represents a dynamic fusion of creativity, technology, and passion, forming a unique approach to the digital realm. Rooted in the principles of innovation and openness, DoC champions the journey to digital mastery, emphasizing collaboration, continuous learning, and the strategic blend of theory and practice. By leveraging public spaces for documentation, encouraging community-driven content creation, and promoting open collaboration for Continuous Integration and Continuous Deployment (CI/CD), DoC embodies a post-modern agile methodology that seeks to redefine the paradigms of software design, development, deployment, and integration.</p>
                </div>
              </li>
              <li id="plexus">
                <div class="timeline-content">
                  <h2 class="timeline-date">June, 2022 - April, 2023</h2>
                  <h1>Software Developer I</h1>
                  <h3>Plexus Corp. <br>Global Development Team - AMER</h3>
                  <p>I architected and orchestrated the complete life cycle of an in-house software solution aimed at standardizing shipping and receiving processes across the organization. By leveraging the principles of clean architecture and domain-driven design, I spearheaded the transformation of the application from a monolithic architecture to a modular, multi-tiered ecosystem. This strategic reengineering significantly bolstered the scalability and maintainability of the application, ensuring it met both present and anticipated business demands.</p>
                </div>
              </li>
              <li id="plexus">
                <div class="timeline-content">
                  <h2 class="timeline-date">June, 2021 - June, 2022</h2>
                  <h1>Technical Systems Analyst I</h1>
                  <h3>Plexus Corp.<br>Solutions Management - Manufacturing</h3>
                  <p>Tasked with ensuring the robustness of our SaaS vendor solutions, I meticulously executed stress and load testing using advanced tools such as Selenium WebDrivers and Apache JMeter. This preemptive strategy identified and rectified defects in various environmental configurations and code deployments prior to transitioning new software versions into a live setting. To further optimize workflows, I championed the development of an application designed to automate pivotal business operations, leading to marked improvements in productivity and a significant reduction in data entry inaccuracies. Employing agile methodologies, I played an instrumental role within the Azure DevOps environment, guiding sprint planning and requirement prioritization, thereby ensuring agile, on-point, and high-quality software deliveries.</p>
                </div>
              </li>
              <li id="plexus">
                <div class="timeline-content">
                  <h2 class="timeline-date">June, 2019 - June, 2021</h2>
                  <h1>Solutions Management Intern</h1>
                  <h3>Plexus Corp. <br>Solutions Management - Manufacturing</h3>
                  <p>With a focus on business process enhancement, I engineered automation solutions encompassing tasks such as user management, assembly build instruction formulation, and intricate file scanning processes. This involved the intricate development of software utilities that facilitated seamless data interplay between various ERP systems. Moreover, I delved deep into the realms of statistical analytics, meticulously evaluating enhancements proposed for SaaS vendor solutions, ensuring that they consistently aligned with our rigorous acceptance benchmarks. Such endeavors not only heightened operational efficiency but also fortified the precision and reliability of newly integrated software functionalities.</p>
                </div>
              </li>
              <li id="uwo">
                <div class="timeline-content">
                  <h2 class="timeline-date">Oct, 2017 - May, 2019</h2>
                  <h1>IT User Support</h1>
                  <h3>University of Wisconsin Oshkosh</h3>
                  <p>Recognizing the paramount importance of clear communication, I consistently conveyed intricate technical resolutions to user-centric challenges, utilizing both email and telephonic mediums. Collaborating within agile teams, ranging from duo endeavors to larger groups of five, I actively contributed to the redesign of various operational processes, all aimed at maximizing workplace productivity and efficiency. Such collaborative and communicative initiatives not only empowered users with the tools and knowledge to optimally leverage technology but also significantly optimized overall organizational throughput.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
