<div class="container">
    <h1>Site Map</h1>
    <hr/>
    <div class="container-pages">
        <div class="pages-list">
            <h3>Discover</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/experience">Experience</a></li>
            </ul>
        </div>
        <div class="pages-list">
            <h3>Connect</h3>
            <ul>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</div>