<div class="container">
  <div class="mew-hero">
    <h1>Let's Connect! 🤝</h1>
    <h3>Always open to new connections and perspectives!</h3>
  </div>
  <hr />
  <div class="container">
    <p>
      Whether you're passionate about coding, have a project in mind, or just want to chat about the latest tech trends, I'm all ears! Let's forge connections, share knowledge, and build amazing things together.
    </p>
    <ul class="nav col-md-4 list-unstyled d-flex">
      <li class="ms-3">
        <a href="http://twitter.com/MaxWahlgren" target="blank"><img src="/assets/socials/icons8-twitter-50.png" title="Twitter" alt="Twitter" width="30" height="30" /></a>
      </li>
      <li class="ms-3">
        <a href="http://linkedin.com/in/max-wahlgren" target="blank"><img src="/assets/socials/icons8-linkedin-50.png" title="LinkedIn" alt="LinkedIn" width="30" height="30" /></a>
      </li>
      <li class="ms-3">
        <a href="http://instagram.com/amaxwahlgren" target="blank"><img src="/assets/socials/icons8-instagram-50.png" title="Instagram" alt="Instagram" width="30" height="30" /></a>
      </li>
      <li class="ms-3">
        <a href="https://github.com/WahlgrenMaxwell" target="blank"><img src="/assets/socials/icons8-github-50.png" title="GitHub" alt="GitHub" width="30" height="30" /></a>
      </li>
    </ul>
    <br />
    <p>
      Stay curious and happy coding! 💻
    </p>
  </div>
</div>
