<div class="container">
    <div class="mew-hero">
      <h1 class="title">Dev of Codes</h1>
      <h2>💻</h2>
      <h3>Pioneering the Art of Digital Creative Engineering!</h3>
    </div>
    <hr/>
    <div class="container doc-container">
        <h3>Purpose Driven by Passion 📝</h3>
        <p>
            Post-modern agile-based methodology defines Digital Creative Engineering (DCE), revolutionizing software design, development, deployment, documentation, and integration. By leveraging public spaces and harnessing the power of content creation, DCE transforms documentation into an interactive and engaging narrative. Dev of Codes (DOC) champions this ethos, inviting open collaboration that seamlessly integrates continuous integration and continuous delivery (CI/CD), forging a path to digital mastery.
        </p>
    </div>
    <div class="container doc-container">
        <h3>Envisioning Tomorrow Today </h3>
        <p>
            At Dev of Codes, we envision a future where technology is a potent tool for businesses of all sizes and sectors. Our vision is to actively shape this future by offering comprehensive, tailor-made software applications and scalable consulting services.
        </p>
        <p>
            We plan to finance this growth primarily through our custom affiliate marketing platform and monetization of our social media content, thereby reinvesting our resources into the continuous enhancement of our services.
        </p>
        <p>
            By constantly improving our skills and offerings, we aim to position ourselves as a leading provider of tech education and custom software solutions in the market.
        </p>
    </div>
    <hr/>
    <div class="container link-container">
        <a href="https://devofcodes.com" target="_blank" class="btn btn-success">todos los días</a>
    </div>
</div>