/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$primary-color: #00471B;
$secondary-color: #003547;
$tertiary-color: #a9b7ab;

html, body {
    height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 250px; 
}

.footer {
  position: relative;
  margin-top: -250px;
  height: 250px;
  clear: both;
  padding-top: 20px;
} 

h1 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 38.4px;
}

h3 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 25.4px;
}

p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}

blockquote {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px;
}

.mew-hero {
    width: 100%;
    height: max-content;
    align-self: center;
    justify-self: center;
    margin: 50px 0px 50px 0px;
    position: relative;
    text-align: center;
}
