/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

$primary-color: #00471B;
$secondary-color: #003547;
$tertiary-color: #a9b7ab;

html, body {
  height: 100%;
  max-width: 1200px;
  margin: auto;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 250px; 
}

.footer {
  position: relative;
  margin-top: -250px;
  height: 250px;
  clear: both;
  padding-top: 20px;
} 

h1 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 38.4px;
}

h2 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 32.4px;
}

h3 {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 25.4px;
}

p {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 26px;
}

blockquote {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}

pre {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5667px;
}

.mew-hero {
  width: 100%;
  height: max-content;
  align-self: center;
  justify-self: center;
  margin: 50px 0px 50px 0px;
  position: relative;
  text-align: center;
}

.title {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
}

.author {
  color:#00471B;
}

@media (min-width: 0px) and (max-width: 480px) {
  
}
@media (min-width: 481px) and (max-width: 600px) {
  html, body {
    height: 100%;
    max-width: 460px;
    margin: auto;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  html, body {
    height: 100%;
    max-width: 550px;
    margin: auto;
  }
}

@media (min-width: 769px) and (max-width: 900px) {
  html, body {
    height: 100%;
    max-width: 600px;
    margin: auto;
  }
}

@media (min-width: 901px) and (max-width: 1024px) {
  html, body {
    height: 100%;
    max-width: 800px;
    margin: auto;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  html, body {
    height: 100%;
    max-width: 900px;
    margin: auto;
  }
}
