<div class="container">
  <div class="container">
    <div class="hero">
      <div class="hero-container">
        <div class="hero-container_first-image">
          <img class="galleryImg" alt="Devils Bridge, Arizona" loading="lazy"
               src="/assets/images/bridge.f8eb772070a7b6fb8ae3.jpeg" />
        </div>
        <div class="hero-container_second-image">
          <img class="galleryImg" alt="Toms Thumb, Arizona" loading="lazy"
               src="/assets/images/mountains.8e85abc96b68c5f769ed.jpeg" />
        </div>
        <div class="hero-container_first-text">
          <h1>Oh, the places you'll go!</h1>
        </div>
        <div class="hero-container_third-image">
          <img class="galleryImg" alt="Waterhole Canyon, Arizona" loading="lazy"
               src="/assets/images/canyon.137d449c5e60162d86b4.jpeg" />
        </div>
        <div class="hero-container_fourth-image">
          <img class="galleryImg" alt="Talum, Mexico" loading="lazy"
               src="/assets/images/beach.77884e791c2e02170db7.jpeg" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr />
  </div>
  <div class="container mt-5">
    <div class="marquee-parent">
      <div class="marquee-child">
        <p>
          Congratulations! Today is your day. You're off to Great Places! You're off and away!
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <hr />
  </div>
</div>