<div class="container">
  <div class="container">
    <div class="hero">
      <div class="hero-container">
        <div class="hero-container_first-image">
          <img class="galleryImg" alt="Devils Bridge, Arizona" loading="lazy"
               src="/assets/images/bridge.f8eb772070a7b6fb8ae3.jpeg" />
        </div>
        <div class="hero-container_second-image">
          <img class="galleryImg" alt="Toms Thumb, Arizona" loading="lazy"
               src="/assets/images/mountains.8e85abc96b68c5f769ed.jpeg" />
        </div>
        <div class="hero-container_first-text">
          <h1>Oh, the places you'll go!</h1>
        </div>
        <div class="hero-container_third-image">
          <img class="galleryImg" alt="Waterhole Canyon, Arizona" loading="lazy"
               src="/assets/images/canyon.137d449c5e60162d86b4.jpeg" />
        </div>
        <div class="hero-container_fourth-image">
          <img class="galleryImg" alt="Talum, Mexico" loading="lazy"
               src="/assets/images/beach.77884e791c2e02170db7.jpeg" />
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <hr />
  </div>
  <div class="container mt-5">
    <div class="marquee-parent">
      <div class="marquee-child">
        <p>
          Congratulations! Today is your day. You're off to Great Places! You're off and away!
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <hr />
  </div>
  <div class="mew-hero">
    <h1>Sacred Texts 📚</h1>
    <h3>A reader lives a thousand lives before he dies</h3>
  </div>
  <div class="container align-items-center">
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0735213615&asins=0735213615&linkId=6991c8857d32aec5b8308e4b99907f3f&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0767908171&asins=0767908171&linkId=8a3ed56e319336cc817074c0ce0c06c1&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0593138767&asins=0593138767&linkId=6613dc09873a501a962e87b77492bab0&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0358099765&asins=0358099765&linkId=bfbcf2f02cc6a38148ff0fde920f59e8&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0061535656&asins=0061535656&linkId=bb7ea084cac4960a93a896bef148661e&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0593296907&asins=0593296907&linkId=f1adad5539bdfda7c4416819f2112249&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=1594204225&asins=1594204225&linkId=360ac721043957bf647c1de70fdb515f&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=1476709580&asins=1476709580&linkId=8d5c4c7df29ec0ef466a89f4bab7dc47&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=145161683X&asins=145161683X&linkId=ad062b672428f78945e87f09c92cd41a&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0062429655&asins=0062429655&linkId=a32e33320c3bf010fb5c72e3fdc9c8c3&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0593236599&asins=0593236599&linkId=f8d52edaa2591c05c2b021ef47106ba3&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0062508342&asins=0062508342&linkId=a7a65d4786b9e5ec8f6c1305d86a1771&show_border=true&link_opens_in_new_window=true"></iframe>
    <iframe sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin" style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=devofcodesama-20&language=en_US&marketplace=amazon&region=US&placement=0226824179&asins=0226824179&linkId=a22e6054dcea40c9d214275ff87e0311&show_border=true&link_opens_in_new_window=true"></iframe>
  </div>
</div>